#description{
    text-align: center;
    position:relative;
    margin-bottom:0;
    width:100%;
    height:39.8em;
}
#desc_box{
    left:5%;
    top:-1.5em;
    position:relative;
    width:32em;
    text-align:left;
}
#desc_text{
    padding:1em;
    width:35em;
    background-color:rgba(255, 255, 255, 0.80);
    left:5%;
    top:15%;
    position:absolute;
}
#desc_content{
    position:absolute;
}

#des_anc{
    top:-5.2em;
}