#market{
    display:flex;
    position:relative;
}
#platform_desc{
    text-align:right;
    width: 30em;
    position:absolute;
    left:60em;
    top:5em;
}
#ui{
    position:relative;
    left:50%
}
#platform_desc, #mon_desc{
    text-align:center;
}