@font-face {
    font-family: 'humanemedium';
    src: url('humane-medium-webfont.woff2') format('woff2'),
         url('humane-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'blacklistedregular';
    src: url('blacklisted-webfont.woff2') format('woff2'),
         url('blacklisted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.title{
    font-family:'blacklistedregular';
    letter-spacing: 0.045em;
}

p{
    /*font-family:'Oswald', sans-serif;*/
    font-family: 'Oxygen', sans-serif;
    font-size:1.2em;
}
.atop{
    position:relative;
    z-index:5;
}
html{
    padding: 0;
}
body{
    overflow-x:hidden;
    /*background-color:#4C573E;*/
    background-color:black;
    margin: 0;
    padding: 0 0 0 0;

}
h1{
    margin:0;
    /*color:#FCEDE3;*/
    color:white;
    opacity: 0;
    font-family:'blacklistedregular';
    letter-spacing: 0.045em;
}

h2{
    margin-top:0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size:4em;
}
#name{
    z-index:4;
    padding: 15% 0 15% 0;
    font-size:10em;
    text-align:center;
}


span{
    display: inline-block;
    transform: translateX(-10px);
    opacity: 0;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}

#hook{
    color:white;
    width:100%;
    height:20em;
    text-align:center;
    position:relative;
}
#behind{
    width:20em;
    position:absolute;
}


#landing{
    margin-top:6em;
    padding-bottom:3em;
    position:relative;
}

#contain{
    z-index:-1;
    position:absolute;
    top:-0.8em;
    max-height:44em;
    
}
#topo{
    object-position: 0 -13em;
    max-width:200%;
    opacity:25%
}

#hook{
    /*background: radial-gradient(94.94% 52.73% at 50% 50%, #080907 0%, rgba(0, 0, 0, 0) 100%);*/
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #001F73 100%);
    position:relative;
    height:35em;
    padding-bottom:9em;
}
#quote{
    z-index:2;
    position:absolute;
    text-align:center;
    left:34%;
    top:36%;
    font-size:0.8em;
}

#brown{
    opacity:50%;
    z-index:1;
    position:absolute;
    left:43%;
    top:12%;
    width:20em;
}

#question{
    color:white;
}
#Play{
    position:relative;
    padding-top: 2em;
    height:20em;
}
button{
    cursor:pointer;
    position:absolute;
    left:43%;
    padding: 0.5em 1em 0.5em 1em;
    background-color:white;
    font-family:'Oswald', sans-serif;
    font-size:2em;
    transition-duration:0.5s;
    transition-property:all;

}
button:hover{
    background-color:greenyellow;
    color:white;
}
button:active{
    background-color:rgba(172, 255, 47, 0.532);
}

#topo_3{
    position:absolute;
    overflow:hidden;
    height:22em;
    top:0;
    z-index:-1;
    
}

#end_logo{
    margin-left:15em;
    width:30%;
}
#end{
    position:relative;
    top:25%;
    max-width:100%;
   
}
#contact{
    padding:4em;
}
#container{
    display:flex;
}

#contact_text{
    margin-left:15em;
    color:white;
}

#contact_text h2{
    margin-top:0.5em;
    margin-bottom:0.5em;
    text-align: left;
    font-size:2em;
}

#contact_text p{
    font-size:1em;
}

#youtube{
    display:inline;
}

#contact_text a{
    padding-right:1em;
}

