@font-face {
    font-family: 'blacklistedregular';
    src: url('blacklisted-webfont.woff2') format('woff2'),
         url('blacklisted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.anchor{
    z-index:5;
    display:block;
    position:absolute;
    width:20em;
    height:1em;
    color:greenyellow;
}

#top_anc{
    top:-7.6em;
}

.title{
    font-family:'blacklistedregular';
    letter-spacing: 0.045em;
}

p{
    /*font-family:'Oswald', sans-serif;*/
    font-family: 'Oxygen', sans-serif;
    font-size:1.2em;
}
.atop{
    position:relative;
    z-index:5;
}
html{
    padding: 0;
}
body{
    overflow-x:hidden;
    /*background-color:#4C573E;*/
    background-color:black;
    margin: 0;
    padding: 0 0 0 0;

}
h1{
    margin:0;
    /*color:#FCEDE3;*/
    color:white;
    opacity: 0;
    font-family:'blacklistedregular';
    letter-spacing: 0.045em;
}

h2{
    margin-top:0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size:4em;
}

#behind{
    width:20em;
    position:absolute;
}


#quote{
    z-index:2;
    position:absolute;
    text-align:center;
    left:34%;
    top:36%;
    font-size:0.8em;
}

#question{
    color:white;
}
#Play{
    position:relative;
    padding-top: 2em;
    height:20em;
}
button{
    cursor:pointer;
    position:absolute;
    left:43%;
    padding: 0.5em 1em 0.5em 1em;
    background-color:white;
    font-family:'Oswald', sans-serif;
    font-size:2em;
    transition-duration:0.5s;
    transition-property:all;

}
button:hover{
    background-color:greenyellow;
    color:white;
}
button:active{
    background-color:rgba(172, 255, 47, 0.532);
}

#topo_3{
    position:absolute;
    overflow:hidden;
    height:22em;
    top:0;
    z-index:-1;
    
}

#end_logo{
    margin-left:15em;
    width:30%;
}
#end{
    position:relative;
    top:25%;
    max-width:150%;
   
}

